Library/
.vs/YamVive/v14/.suo
Assets/SteamVR/Scenes/example.unity
Assets/SteamVR/Scenes/example.unity.meta
Temp/
YamVive.sln
YamVive.CSharp.csproj
YamVive.CSharp.Editor.csproj
**/*.DS_Store
Assets/HorrorEnvironment_AbandonedManor/
Assets/Asset Packs/
Assets/Resources/Models/Materials/Leaf.mat.meta
